@charset "UTF-8";

/* ----------------------------------------------------------------------------------------------------
 *  1.基本情報
 * --------------------------------------------------------------------------------------------------*/
body {
	background: #fff;
	color: #000000;
	font-size: 14px;
	line-height: 150%;
	font-family: 'ヒラギノ角ゴシック', 'HiraginoSans', 'ヒラギノ角ゴ ProNW3', 'HiraginoKakuGothicProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MSPGothic', sans-serif;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	opacity: .7;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
ul  li {
	list-style: none;
}
img{
	vertical-align: middle;
}
#wrapper {
	width: 100%;
}
/* ----------------------------------------------------------------------------------------------------
 *  header
 * --------------------------------------------------------------------------------------------------*/



 /* ----------------------------------------------------------------------------------------------------
 *  index
 * --------------------------------------------------------------------------------------------------*/




 /* ----------------------------------------------------------------------------------------------------
 *  footer
 * --------------------------------------------------------------------------------------------------*/