@media only screen and (max-width:640px) {
	.pc {
		display: none;
	}
	.sp {
		display: block;
	}
	.fll, .flr {
		float: none;
	}
	img {
		max-width: 100%;
	}

	/* ----------------------------------------------------------------------------------------------------
	 *  header
	 * --------------------------------------------------------------------------------------------------*/



	/* ----------------------------------------------------------------------------------------------------
	*  index
	* --------------------------------------------------------------------------------------------------*/




	/* ----------------------------------------------------------------------------------------------------
	*  footer
	* --------------------------------------------------------------------------------------------------*/



	


}